button.ytg-mark-watched {
    right:0 !important;
    left: 2px !important;
}

button.ytg-mark-watched img {
    background: no-repeat url(http://s.ytimg.com/yts/imgbin/www-hitchhiker-vfla-Zaz2.png) -83px -298px !important;
    height: 13px !important;
    width: 13px !important;
}

.ytg-watched button.ytg-mark-watched img {
    background: url(http://s.ytimg.com/yts/imgbin/www-hitchhiker-vfla-Zaz2.png) -202px -337px no-repeat !important;
    width: 21px !important;
    height: 21px !important;
}

.ytg-watched button.yt-uix-button-default.ytg-mark-watched {
    background-image: -moz-linear-gradient(top,#74a446 0,#4d7730 100%) !important;
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#74a446),color-stop(100%,#4d7730)) !important;
    background-image: -webkit-linear-gradient(top,#74a446 0,#4d7730 100%) !important;
    background-image: linear-gradient(to bottom,#74a446 0,#4d7730 100%) !important;
}

.watched button.yt-uix-button-default.ytg-mark-watched {
    background: 0 !important;
    border: 0 !important;
}

.watched button.ytg-mark-watched img {
    background: url(http://s.ytimg.com/yts/imgbin/www-hitchhiker-vfla-Zaz2.png) -38px 1px no-repeat !important;
    width: 21px !important;
    height: 21px !important;
}

.ytg-hide-watched-videos .ytg-contains-watched { display: none; }

.ytg-watched .video-thumb {opacity:.7; filter: alpha(opacity=70) }
.ytg-watched .watched-badge { opacity: 1; filter: alpha(opacity=100) }


a.feed-author-bubble.yt-uix-sessionlink {
    display: none !important;
}

div.branded-page-v2-secondary-col {
    display: none !important;
}

div.feed-item-main {
    margin: 0 !important;
    padding: 0 !important;
}

.yt-lockup.yt-lockup-tile .yt-lockup-thumbnail,
.yt-lockup2.yt-lockup2-tile .yt-lockup2-thumbnail
{
    float: none !important;
   /* margin-bottom: 17px !important;*/
}

#page {
    width: 97.925%
 !important;
}

.yt-lockup-description,
.yt-lockup2-description
{
    display: none !important;
}


.feed-list-item, .feed-item-container {
    float: left !important;
    width: 165px !important;
    height: 195px !important;
    border: 0 !important;
    margin-top: 10px !important;
}

.feed-item-container .feed-item-main {
    border: 0 !important;
}

.feed-item-container .feed-item-main-content {
  /*  margin-top: -130px !important;*/
}

page {
    width: 97.925% !important;
}

.feed-load-more-container {
    float: left !important;
}


.feed-item-main .feed-item-header {
   display:none;
}

.branded-page-module-title { display: none; }

.yt-lockup-meta,
.yt-lockup-description,
.yt-lockup-badges,
.yt-lockup2-meta,
.yt-lockup2-description,
.yt-lockup2-badges
{
    float: left !important;
}

.yt-lockup-tile .yt-lockup-meta-info>li:before,
.yt-lockup2-tile .yt-lockup2-meta-info>li:before
{
    content: none !important;
}

.yt-lockup-meta-info>li,
.yt-lockup2-meta-info>li
{
    line-height: 15px !important;
}

.yt-lockup-meta-info>li,
.yt-lockup2-meta-info>li
{
    display: block !important;
}

/* Remove the overflow so that the video action menu doesn't clip */
.feed-header { height: 32px !important; }
.feed-header.collection { height: 100px !important; }
.branded-page-v2-primary-col { overflow: visible !important; }

/* Badges */
.ytg-views { float: left;}
.item-badge-line { float: right; margin-top: 1px; }