.ytg-gridable.site-center-aligned #content {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}

.ytg-gridable.site-center-aligned .yt-card {
    margin: 0;
}

.ytg-gridable button.ytg-mark-watched {
    background-image: url(https://s.ytimg.com/yts/imgbin/www-hitchhiker-vflqZgjUU.png) !important;
    background-right: no-repeat !important;
    background-position: -15px -640px !important;
    width: 21px !important;
    height: 21px !important;
    right:0 !important;
    left: 2px !important;
    display:none;
}

.ytg-gridable .contains-addto:hover button.ytg-mark-watched
{
    display: block;
}

.ytg-gridable .ytg-watched button.ytg-mark-watched {
    background-position: -13px -1274px !important;
}

.ytg-gridable .watched button.ytg-mark-watched {
    background-position: 2px -1258px !important;
}


.ytg-gridable .ytg-hide-watched-videos .ytg-contains-watched { display: none; }

.ytg-gridable .ytg-watched .video-thumb {opacity:.7; filter: alpha(opacity=70) }
.ytg-gridable .ytg-watched .watched-badge { opacity: 1; filter: alpha(opacity=100) }